In [1]:
import pandas as pd
data = pd.read_csv('20170906FSIM.csv')
data.head()

  FSIM  61.756 238.770 20170906 HDZ 23.3 nT  2Hz
0                               20170906000000 .
1                  11501.688  2842.616 57300.481
2                  11501.888  2842.686 57300.412
3                               20170906000001 .
4                  11501.862  2842.766 57300.294

In [7]:
reformatted_rows = []

# Initialize a variable to keep track of the current row in reformatted_rows
current_row = []

# Iterate through the rows of the original DataFrame
for index, row in data.iterrows():
    # Check if the row contains a timestamp (assuming timestamps are in column 0)
    if row[0].isdigit():
        # If it does, add the current_row to reformatted_rows and start a new row
        if current_row:
            reformatted_rows.append(current_row)
        current_row = list(row)
    else:
        # If it doesn't, append the values to the current row
        current_row += list(row)

# Add the last current_row to reformatted_rows
if current_row:
    reformatted_rows.append(current_row)

# Create a new DataFrame from the reformatted data
df_reformatted = pd.DataFrame(reformatted_rows)

# Print the reformatted DataFrame
df_reformatted.head()

,0,1,2,3,4,5,6,7,8,9,...,259190,259191,259192,259193,259194,259195,259196,259197,259198,259199
0,20170906000000 .,11501.688 2842.616 57300.481,11501.888 2842.686 57300.412,20170906000001 .,11501.862 2842.766 57300.294,11501.937 2842.829 57300.212,20170906000002 .,11501.963 2842.953 57300.156,11502.052 2843.018 57300.050,20170906000003 .,...,11511.271 2827.560 57298.637,20170906235957 .,11511.525 2827.757 57298.431,11511.799 2827.871 57298.250,20170906235958 .,11511.975 2828.026 57298.094,11512.162 2828.081 57297.988,20170906235959 .,11512.180 2828.074 57297.850,11512.299 2828.083 57297.769

In [8]:
reformatted_rows = []

# Initialize a variable to keep track of the current row in reformatted_rows
current_row = []

# Iterate through the rows of the original DataFrame
for index, row in data.iterrows():
    # Check if the row contains a timestamp (assuming timestamps are in column 0)
    if row[0].isdigit():
        # If it does, add the current_row to reformatted_rows and start a new row
        if current_row:
            reformatted_rows.append(current_row)
        current_row = [row[0]]  # Start a new row with the timestamp
    else:
        # If it doesn't, append the values to the current row
        current_row.extend(row[1:])  # Append values excluding the timestamp

# Add the last current_row to reformatted_rows
if current_row:
    reformatted_rows.append(current_row)

# Create a new DataFrame from the reformatted data
df_reformatted = pd.DataFrame(reformatted_rows)

# Print the reformatted DataFrame
df_reformatted.head()

Empty DataFrame
Columns: []
Index: []