In [10]:
import pandas as pd

# Read the CSV file into a DataFrame
data = pd.read_csv('20170906FSIM.csv', header=None)

In [11]:
# Convert the DataFrame into a list for easier processing
data_list = data[0].tolist()

# Process the list to get the desired format
reformatted_data = []

i = 1  # Start from 1 to skip the header
while i < len(data_list) - 2:
    timestamp = data_list[i]
    
    # Check if the current row is a timestamp
    if str(timestamp).split()[0].isdigit():
        # Remove the period from the timestamp
        timestamp = timestamp.replace(' .', '')
        
        # Convert string timestamp to pandas datetime object
        timestamp_dt = pd.to_datetime(timestamp, format='%Y%m%d%H%M%S')
        
        # Extract data rows associated with the timestamp
        values1 = list(map(float, data_list[i + 1].split()))
        values2 = list(map(float, data_list[i + 2].split()))
        
        # Compute average of the two data rows
        averaged_values = [(v1 + v2) / 2 for v1, v2 in zip(values1, values2)]
        
        # Create a single row with the timestamp and the averaged values
        averaged_row = [timestamp_dt] + averaged_values
        reformatted_data.append(averaged_row)
        
        i += 3  # Move to the next timestamp
    else:
        i += 1  # Skip this row and continue

# Convert the reformatted data to a DataFrame
df_averaged = pd.DataFrame(reformatted_data, columns=["Timestamp", "x", "y", "z"])

# Print the reformatted DataFrame
df_averaged.head()

# Optionally save the reformatted DataFrame to a new CSV file
# df_averaged.to_csv('averaged_data.csv', index=False, header=False)

            Timestamp           x          y           z
0 2017-09-06 00:00:00  11501.7880  2842.6510  57300.4465
1 2017-09-06 00:00:01  11501.8995  2842.7975  57300.2530
2 2017-09-06 00:00:02  11502.0075  2842.9855  57300.1030
3 2017-09-06 00:00:03  11502.1295  2843.1810  57299.9280
4 2017-09-06 00:00:04  11502.3615  2843.4045  57299.7595